body {
   text-align: center;
   background-color: gold
}

.score-container {
    background-color: maroon;
    color: white;
    
}
.score-container h3 {
    padding: 25px;
}

.start-section {
    background-color: white;
}
.start-section h4 {
    padding: 15px;
}
.start-section button{
    margin: 10px;
    padding:5px;
}
.hide {
    display: none;
}

#save-container {
    display: none;
}
